
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//code
$c1: #D50B53;
$c2: #F4F3F4;
$c3: #A882C1;
$c4: #824CA7;
$c5: #B9C406;

$calendar: '/images/calendar.png';
