
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
//code
body{
  font-size: 16px;
  overflow-x: hidden;
  background: #fff;
  font-family: Ubuntu;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #fff;
}
::-webkit-scrollbar-thumb{
  background: $c3!important;
  border-radius: 5px;
}
::-webkit-scrollbar-button{
  display: none;
}
#homeWrapper{
  grid-template-rows: 15vh 95vh auto auto auto auto auto;
}
#appWrapper{
  grid-template-rows: 15vh auto auto;
}
#homeWrapper, #appWrapper{
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 100vw;
  border: 20px solid $c2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  #homeNavi{
    grid-area: 1/1/2/2;
    position: relative;

    a[href^="tel:"]{
      position: absolute;
      top: 25%;
      left: 80%;
      text-decoration: none;
      color: $c5;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

      i{
        font-family: FontAwesome;
      }
    }
    .logo{
      a img{
        position: absolute;
        top: 0;
        left: 0;
        max-height: 15vh;
        width: auto;
        height: 15vh;
        display: block;
      }
    }
    .nav-links{
      position: absolute;
      top: 60%;
      right: 5vw;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);

      .menu{
        display: none;
        width: 10vh;
        height: 5.6vh;
        padding: .6vh 2vh .6vh 2vh;
        line-height: .6vh;
        cursor: pointer;

        .menubar{
          width: 4.5vh;
          height: .6vh;
          background-color: $c1;
          border-radius: 1px;
          transition: all 1s;
        }
        .ndChild{
          width: 2.3vh;
        }
      }
      a{
        display: inline-block;
        color: $c1;
        font-size: larger;
        text-decoration: none;
        padding-right: 20px;
        text-underline-position: under;
        -ms-text-underline-position: under;

        &:hover{
          opacity: 0.7;
          text-decoration: underline;
          text-decoration-style: solid;
          -moz-text-decoration-style: solid;
          -webkit-text-decoration-style: solid;

        }
      }
    }
  }
  #homeIntro{
    grid-area: 2/1/3/2;
    position: relative;

    img{
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      max-height: 95vh;
      width: 100%;
      height: auto;
      display: block
    }
    .introText{
      z-index: 1;
      position: absolute;
      top: 22vh;
      left:  calc(50vw - 20px);
      padding-right: 20px;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: $c4;
      font-size: 2.5rem;
      font-weight: bolder;
      width: 70vw;
    }
    .introAction{
      position: absolute;
      top: 65vh;
      left: calc(50vw - 20px);
      padding-right: 20px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      font-size: xx-large;
      border: 2px solid $c1;
      border-radius: 3px;
      background: unset;
      color: $c1;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;

      &:hover{
        background: $c1;
        color: $c2;
      }
    }
  }
  #waw{
    grid-area: 3/1/4/2;
    color: $c4;
    font-size: large;
    padding-top: 5vw;
    padding-bottom: 10vw;
    position: relative;

    h1{
      margin-left: -20px;
      padding-right: 20px;
      color: $c1;
    }
    .para{
      margin-left: calc(50vw - 20px);
      padding-right: 20px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      max-width: 80%;
      width: 80%;
    }
    #bgimage{
      img{
        position: absolute;
        display: block;
        top: 20%;
        height: 60%;
        width: auto;
        opacity: 0.6;
        z-index: -2;
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        -o-transform: rotate(-30deg);
        transform: rotate(-30deg);
      }
    }
  }
  #wwd{
    grid-area: 4/1/5/2;
    background: $c5;
    padding-top: 5vw;
    padding-bottom: 7vw;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;

    border-right: 50px solid $c2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    h1{
      color: $c4;
    }
    .services{

    }
    #serviceGroup1, #serviceGroup2, #serviceGroup3, #serviceGroup4{
      color: $c1;
      cursor: pointer;
      background-color: $c5;
      padding-right: 20px;
      width: 100%;
      border: 1px solid;
    }
    #serviceGroup1, #serviceGroup2, #serviceGroup3{
      border-bottom: none;
    }
    .toggle1, .toggle2, .toggle3, .toggle4{
      background-color: $c1!important;
      padding: 1vw;
      color: $c2!important;
      display: none;
      padding-right:20px;
    }
    .toggle1.display, .toggle2.display, .toggle3.display, .toggle4.display{
      display: block;
    }
    .plus{
      display: block;
      width: 2.5vh;
      height: .3vh;
      margin-top: 0.6vh;
      background-color: $c1;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;

      &.first{
        -webkit-transform: rotate(90deg) translate(0.8vh, 0.1vh);
        -moz-transform: rotate(90deg) translate(0.8vh, 0.1vh);
        -ms-transform: rotate(90deg) translate(0.8vh, 0.1vh);
        -o-transform: rotate(90deg) translate(0.8vh, 0.1vh);
        transform: rotate(90deg) translate(0.8vh, 0.1vh);
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
      }
    }
    #sgicon1.rot, #sgicon2.rot, #sgicon3.rot, #sgicon4.rot{
      .plus.first{
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  #clientelle{
    grid-area: 5/1/6/2;
    padding-top: 10vh;
    padding-bottom: 10vh;
    z-index: -1;
    padding-right: 50px;

    h2{
      color: $c4;
      text-align: center;
    }
    .client{
      height: 32vh;
      padding-top: 1vh;

      .card{
        border: 1px solid $c3;
        height: 30vh;
        max-width: 794px;
        color: $c4;
      }
    }
  }
  #photos{
    grid-area: 6/1/7/2;
    background-color: $c3;
    position: relative;
    border-right: 50px solid $c2;
    height: auto;
    min-height: 44vh;
    max-height: 120vh;
    z-index: -2;

    .img1{
      position: absolute;
      top:2vh;
      bottom: 2vh;
      left: calc(50vw - 20px);
      display: block;
      height: auto;
      width: calc(96vw - 50px);
      max-height: 116vh;
      min-height: 40vh;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    .smallp{
      display: none;
    }
  }
  #foot{
    grid-area: 7/1/8/2;
    background-color: $c2;
    color: $c1;
    padding-top: 3vw;
    padding-bottom: 2vw;
    padding-right: 40px;

    a{
      text-decoration: none;
      color: $c5;
    }
    i{
      color: $c5;
      font-family: FontAwesome;
    }
  }
}
#appBody{
  grid-area: 2/1/3/2;
  padding-right: 40px;
}
#appFoot{
  grid-area: 3/1/4/2;
  background-color: $c2;
  color: $c1;
  padding-top: 3vw;
  padding-bottom: 2vw;
  padding-right: 40px;

  a{
    text-decoration: none;
    color: $c5;
  }
  i{
    color: $c5;
    font-family: FontAwesome;
  }
}
.purp{
  color: $c4;

  .text-right{
    float: right;
  }
  a{
    text-decoration: none;
    color: $c5;
  }
}
.gree{
  color: $c5;
}
.pin{
  color: $c1;
}
.priceLists li{
  list-style-type: none;
}
.alert{
  height: 40px;
  line-height: 20px;
  text-align: center;
}
[type="date"] {
  background:#fff url($calendar)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.bookingBtn{
  font-size: larger;
  color: $c2;
  background-color: $c1;
  border-radius: 3px;
  border: 1px solid $c1;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;

  &:hover{
    color: $c1;
    background-color: $c2;
  }
}
@media screen and (min-width: 1012px){
  #photos{
    min-height: 120vh!important;
    height: auto!important;
  }
}
@media screen and (max-width: 1012px) and (min-width: 931px){
  #photos{
    min-height: 114vh!important;
  }
}
@media screen and (max-width: 950px){
  .introText{
    font-size: 1.8rem!important;
  }
}
@media screen and (max-width: 930px) and (min-width: 848px){
  #photos{
    min-height: 104vh!important;
  }
}
@media screen and (max-width: 930px){
  .alert{
    height: 100px!important;
  }
}
@media screen and (min-width: 866px){
  .client .card{
    height: 20vh;
    width: 794px;
    margin-left: calc(50vw - 431px);
  }
  .client{
    height: 26vh;
    padding-top: 3vh;
  }
}
@media screen and (max-width: 847px) and (min-width: 760px){
  #photos{
    min-height: 94vh!important;
  }
}
@media screen and (max-width: 800px){
  #homeNavi{
    a[href^="tel:"]{
      left: 50%!important;
    }
  }
  .wawDelete{
    display: none;
  }
  .nav-links a{
    display: none!important;
  }
  .menu{
    display: block!important;
    margin-right: 5vw;
  }
  .nav-links.showMenu{
    height: 100vh;
    width: 100vw;
    background: $c3;
    position: fixed!important;
    right: 0!important;
    padding-top: 15vh;
    z-index: 2;

    a{
      display: block!important;
      font-size: 2rem!important;
      color: $c2!important;
      margin-left: 10vw;
    }

    .menu{
      margin-left: 85vw;
      top: 15vh;
      position: absolute;

      .ndChild{opacity: 0; visibility: hidden;}

      .menubar{
        background: $c2!important;

        &:nth-child(1){
          -webkit-transform: rotate(315deg);
          -moz-transform: rotate(315deg);
          -ms-transform: rotate(315deg);
          -o-transform: rotate(315deg);
          transform: rotate(315deg);
          -webkit-transform-origin: 50% 50%;
          -moz-transform-origin: 50% 50%;
          -ms-transform-origin: 50% 50%;
          -o-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
        }
        &:last-child{
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-transform-origin: 50% 50%;
          -moz-transform-origin: 50% 50%;
          -ms-transform-origin: 50% 50%;
          -o-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
          margin-top: -0.9rem;
        }
      }
    }
  }
}
@media screen and (max-width: 759px) and (min-width: 662px){
  #photos{
    min-height: 84vh!important;
  }
}
@media screen and (min-width: 700px) and (max-width: 865px){
  .client .card{
    height: 24vh;
  }
}
@media screen and (max-width: 661px) and (min-width: 565px){
  #photos{
    min-height: 74vh!important;
  }
}
@media screen and (max-width: 574px){
  .img1{
    width: calc(96vw - 40px)!important;
  }
  .smallp{
    display: block!important;
  }
  .largep{
    display: none;
  }
  #photos{
    border-right: 40px solid $c2!important;
  }
  #homeWrapper{
    grid-template-rows: 15vh 85vh auto auto auto auto auto;
  }
}
@media screen and (max-width: 564px) and (min-width: 484px){
  #photos{
    min-height: 64vh!important;
  }
}
@media screen and (max-width: 520px){
  .alert{
    height: 80px!important;
  }
}
@media screen and (max-width: 500px){
  .introText{
    font-size: 1.3rem!important;
    width: 80vw!important;
  }
  .introAction{
    font-size: 1.5rem!important;
    top: 55vh!important;
  }
  #wwd{
    border-right: 40px solid $c2!important;
  }
  #clientelle{
    padding-right: 40px!important;
  }
}
@media screen and (max-width: 483px) and (min-width: 417px){
  #photos{
    min-height: 54vh!important;
    .img1{
      min-height: 50vh!important;
    }
  }
}
@media screen and (max-width: 450px){
  #homeWrapper{
    grid-template-rows: 15vh 65vh auto auto auto auto auto;
  }
  .introAction{
    top: 48vh!important;
  }
}
@media screen and (max-width: 396px){
  .cliClose{
    display: none;
  }
  .client{
    padding-top: 1vh;
    height: 34vh;

    .card{
      height: 32vh;
    }
  }
}

