
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
//code
body{
  font-size: 16px;
  overflow-x: hidden;
  background: #fff;
  font-family: Ubuntu;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #fff;
}
::-webkit-scrollbar-thumb{
  background: $c2;
}
::-webkit-scrollbar-button{
  display: none;
}
#homeWrapper{
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 15vh 95vh auto auto 15vh;
  border: 20px solid $c2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  #homeNavi{
    grid-area: 1/1/2/2;
    position: relative;

    a[href^="tel:"]{
      position: absolute;
      top: 25%;
      left: 80%;
      text-decoration: none;
      color: $c5;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

      i{
        font-family: FontAwesome;
      }
    }
    .logo{
      a img{
        position: absolute;
        top: 0;
        left: 0;
        max-height: 15vh;
        width: auto;
        height: 15vh;
        display: block;
      }
    }
    .nav-links{
      position: absolute;
      top: 60%;
      right: 5vw;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);

      .menu{
        display: none;
        width: 10vh;
        height: 5.6vh;
        padding: .6vh 2vh .6vh 2vh;
        line-height: .6vh;
        cursor: pointer;

        .menubar{
          width: 4.5vh;
          height: .6vh;
          background-color: $c1;
          border-radius: 1px;
          transition: all 1s;
        }
        .ndChild{
          width: 2.3vh;
        }
      }
      a{
        display: inline-block;
        color: $c1;
        font-size: larger;
        text-decoration: none;
        padding-right: 20px;
        text-underline-position: under;
        -ms-text-underline-position: under;

        &:hover{
          opacity: 0.7;
          text-decoration: underline;
          text-decoration-style: solid;
          -moz-text-decoration-style: solid;
          -webkit-text-decoration-style: solid;

        }
      }
    }
  }
  #homeIntro{
    grid-area: 2/1/3/2;
    position: relative;

    img{
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      max-height: 95vh;
      width: 100%;
      height: auto;
      display: block
    }
    .introText{
      z-index: 1;
      position: absolute;
      top: 20vh;
      left:  calc(50vw - 20px);
      padding-right: 20px;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: $c4;
      font-size: 2.5rem;
      font-weight: bolder;
      width: 70vw;
    }
    .introAction{
      position: absolute;
      top: 65vh;
      left: calc(50vw - 20px);
      padding-right: 20px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      font-size: xx-large;
      border: 2px solid $c1;
      border-radius: 3px;
      background: unset;
      color: $c1;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;

      &:hover{
        background: $c1;
        color: $c2;
      }
    }
  }
  #waw{
    grid-area: 3/1/4/2;
    color: $c4;
    font-size: large;
    padding-top: 5vw;
    padding-bottom: 10vw;

    h1{
      margin-left: -20px;
      padding-right: 20px;
      color: $c5!important;
    }
    .para{
      margin-left: calc(50vw - 20px);
      padding-right: 20px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      max-width: 80%;
      width: 80%;
    }
  }
  #wwd{
    grid-area: 4/1/5/2;
    background: $c5;
    padding-top: 5vw;
    padding-bottom: 5vw;
    overflow: hidden;

    border-right: 20px solid $c2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    h1{
      color: $c2;
      margin-left: -20px;
      padding-right: 20px;
    }
    .services{
      margin-right: 20px;
    }
    #serviceGroup1, #serviceGroup2, #serviceGroup3{
      color: $c1;
      cursor: pointer;
      background-color: $c5;
      padding-right: 20px;
      width: calc(100% - 30px);
    }
    .toggle1, .toggle2, .toggle3{
      background-color: $c2;
      padding: 1vw;
      color: $c4;
      display: none;
      padding-right:20px;
    }
    .toggle1.display, .toggle2.display, .toggle3.display{
      display: block;
    }
  }
}
@media screen and (max-width: 950px){
  .introText{
    font-size: 1.8rem!important;
  }
}
@media screen and (max-width: 800px){
  #homeNavi{
    a[href^="tel:"]{
      left: 50%!important;
    }
  }
  .wawDelete{
    display: none;
  }
  .nav-links a{
    display: none!important;
  }
  .menu{
    display: block!important;
    margin-right: 5vw;
  }
  .nav-links.showMenu{
    height: 100vh;
    width: 100vw;
    background: $c3;
    position: fixed!important;
    right: 0!important;
    padding-top: 15vh;
    z-index: 2;

    a{
      display: block!important;
      font-size: 2rem!important;
      color: $c2!important;
      margin-left: 10vw;
    }

    .menu{
      margin-left: 85vw;
      top: 15vh;
      position: absolute;

      .ndChild{opacity: 0; visibility: hidden;}

      .menubar{
        background: $c2!important;

        &:nth-child(1){
          -webkit-transform: rotate(315deg);
          -moz-transform: rotate(315deg);
          -ms-transform: rotate(315deg);
          -o-transform: rotate(315deg);
          transform: rotate(315deg);
          -webkit-transform-origin: 50% 50%;
          -moz-transform-origin: 50% 50%;
          -ms-transform-origin: 50% 50%;
          -o-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
        }
        &:last-child{
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-transform-origin: 50% 50%;
          -moz-transform-origin: 50% 50%;
          -ms-transform-origin: 50% 50%;
          -o-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
          margin-top: -0.9rem;
        }
      }
    }
  }
}
@media screen and (max-width: 574px){
  #homeWrapper{
    grid-template-rows: 15vh 85vh auto 110vh 15vh;
  }
}
@media screen and (max-width: 500px){
  .introText{
    font-size: 1.3rem!important;
    width: 80vw!important;
  }
  .introAction{
    font-size: 1.5rem!important;
    top: 55vh!important;
  }
}
@media screen and (max-width: 450px){
  #homeWrapper{
    grid-template-rows: 15vh 65vh auto 110vh 15vh;
  }
  .introAction{
    top: 48vh!important;
  }
}