
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
//code
body{
  font-size: 16px;
  overflow-x: hidden;
  background: #fff;
  font-family: Ubuntu;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #fff;
}
::-webkit-scrollbar-thumb{
  background: $c2;
}
::-webkit-scrollbar-button{
  display: none;
}
#homeWrapper{
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 15vh 95vh auto 110vh 15vh;
  border: 20px solid $c2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  #homeNavi{
    grid-area: 1/1/2/2;
    position: relative;

    .logo{
      position: absolute;
      top: 50%;
      left: 5vw;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      a{
        font-size: xx-large;
        color: $c1;
        text-decoration: none;
        font-weight: 600;
      }
    }
    .nav-links{
      position: absolute;
      top: 50%;
      right: 5vw;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      a{
        display: inline-block;
        color: $c1;
        font-size: larger;
        text-decoration: none;
        padding-right: 30px;
        text-underline-position: under;
        -ms-text-underline-position: under;

        &:hover{
          opacity: 0.7;
          text-decoration: underline;
          text-decoration-style: solid;
          -moz-text-decoration-style: solid;
          -webkit-text-decoration-style: solid;

        }
      }
    }
  }
  #homeIntro{
    grid-area: 2/1/3/2;
    position: relative;

    img{
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      max-height: 95vh;
      width: 100%;
      height: auto;
      display: block
    }
    .introText{
      z-index: 1;
      position: absolute;
      top: 35vh;
      left:  50vw;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: $c4;
      font-size: 2.5rem;
      font-weight: bolder;
    }
    .introAction{
      position: absolute;
      top: 65vh;
      left: 50vw;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      font-size: xx-large;
      border: 2px solid $c1;
      border-radius: 3px;
      background: unset;
      color: $c1;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;

      &:hover{
        background: $c1;
        color: $c2;
      }
    }
  }
  #waw{
    grid-area: 3/1/4/2;
    color: $c4;
    font-size: large;
    padding: 5vw;
    
    .para{
      margin-left: 50vw;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      max-width: 100%;
      width: 100%;
    }
  }
  #wwd{
    grid-area: 4/1/5/2;
    background: $c5;
    z-index: -1;
    padding: 3vw;

    h1{
      color: $c2;
    }
  }
}
@media screen and (max-width: 950px){
  .introText{
    font-size: 1.8rem!important;
  }
}